
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Land List </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/second.css') }}">


</head>
<body>

    <div class="hedder_list">
        <a href="/sb_list" class="s">small business list</a>
        <a href="/income_list" class="i">income list </a>
        <a href="/property_property_list" class="p">property business list</a>
        <a href="/vat_list" class="l">vat list</a>
    </div>



        <table class="container">
            <thead>
                     <tr>
      <th scope="col">#</th>
      <th scope="col">land_hectare</th>
      <th scope="col">Year</th>
      <th scope="col">city</th>
        <th scope="col">amount</th>

    </tr>
            </thead>
            <tbody>

                    {% for land_list in land_list %}

                 <tr>

                  <th scope="row">{{ land_list.id }}</th>
                  <td> {{ land_list.land_hectare }} </td>
                  <td>{{ land_list.Year }}</td>
                  <td>{{ land_list.City }}</td>
                     <td>{{ land_list.tax_amount }}</td>

                </tr>
                    {% endfor %}

            </tbody>
        </table>

  </tbody>
</table>


</body>
</html>

