
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Land List </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/second.css') }}">


</head>
<body>

       <header class="header">
    <nav class="nav">

        <ul class="nav__links">
             <li class="nav__item">
                <a class="nav__link" href="/welcome"><<< go back </a>
            </li>

            <li class="nav__item">
                <a class="nav__link{% if req_pas1 == '/sb_list' %} nav__link--btn {% endif %}" href="/sb_list">small bussines list</a>
            </li>
            <li class="nav__item">
                <a class="nav__link{% if req_pas1 == '/property_land_list' %} nav__link--btn {% endif %}" href="/property_land_list">land list
                     </a>
            </li>

             <li class="nav__item">
                <a class="nav__link{% if req_pas1 == '/property_property_list' %} nav__link--btn {% endif %}" href="/property_property_list">property list </a>
            </li>
              <li class="nav__item">
                <a class="nav__link{% if req_pas1 == '/vat_list' %} nav__link--btn {% endif %}" href="/vat_list"> vat list</a>
            </li>
            <li class="nav__item">
                <a class="nav__link{% if req_pas1 == '/income_list' %} nav__link--btn {% endif %}" href="/income_list">income list
                    </a>
            </li>


</ul>
    </nav>
    </header>




        <table class="container">
            <thead>
                     <tr>
      <th scope="col">#</th>
      <th scope="col">land_hectare</th>
      <th scope="col">Year</th>
      <th scope="col">city</th>
        <th scope="col">amount</th>

    </tr>
            </thead>
            <tbody>

                    {% for land_list in land_list %}

                 <tr>

                  <th scope="row">{{ land_list.id }}</th>
                  <td> {{ land_list.land_hectare }} </td>
                  <td>{{ land_list.Year }}</td>
                  <td>{{ land_list.City }}</td>
                     <td>{{ land_list.tax_amount }}</td>

                </tr>
                    {% endfor %}

            </tbody>
        </table>

  </tbody>
</table>


</body>
</html>

