
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property List </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/second.css') }}">


</head>
<body>
    <div class="hedder_list">
        <a href="/sb_list" class="s">small business list</a>
        <a href="/income_list" class="i">income list </a>
        <a href="/vat_list" class="l">vat list</a>
        <a href="/property_land_list" class="l">land list</a>
    </div>




        <table class="container">
            <thead>
             <tr>
      <th scope="col">#</th>
      <th scope="col">income money</th>
      <th scope="col">property_cost</th>
      <th scope="col">year</th>
        <th scope="col">amount</th>

    </tr>
            </thead>
            <tbody>


        {% for property_list in property_list %}

     <tr>

      <th scope="row">{{ property_list.id }}</th>
      <td> {{ property_list.income_money }} </td>
      <td>{{ property_list.property_cost }}</td>
      <td>{{ property_list.year }}</td>
         <td>{{ property_list.tax_amount }}</td>

    </tr>
        {% endfor %}

            </tbody>
        </table>

  </tbody>
</table>


</body>
</html>


