
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property List </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/second.css') }}">


</head>
<body>
       <header class="header">
    <nav class="nav">

        <ul class="nav__links">
            <li class="nav__item">
                <a class="nav__link" href="/welcome"><<< go back </a>
            </li>
            <li class="nav__item">
                <a class="nav__link{% if req_pas1 == '/sb_list' %} nav__link--btn {% endif %}" href="/sb_list">small bussines list</a>
            </li>
            <li class="nav__item">
                <a class="nav__link{% if req_pas1 == '/property_land_list' %} nav__link--btn {% endif %}" href="/property_land_list">land list
                     </a>
            </li>

             <li class="nav__item">
                <a class="nav__link{% if req_pas1 == '/property_property_list' %} nav__link--btn {% endif %}" href="/property_property_list">property list </a>
            </li>
              <li class="nav__item">
                <a class="nav__link{% if req_pas1 == '/vat_list' %} nav__link--btn {% endif %}" href="/vat_list"> vat list</a>
            </li>
            <li class="nav__item">
                <a class="nav__link{% if req_pas1 == '/income_list' %} nav__link--btn {% endif %}" href="/income_list">income list
                    </a>
            </li>


</ul>
    </nav>
    </header>





        <table class="container">
            <thead>
             <tr>
      <th scope="col">#</th>
      <th scope="col">income money</th>
      <th scope="col">property_cost</th>
      <th scope="col">year</th>
        <th scope="col">amount</th>

    </tr>
            </thead>
            <tbody>


        {% for property_list in property_list %}

     <tr>

      <th scope="row">{{ property_list.id }}</th>
      <td> {{ property_list.income_money }} </td>
      <td>{{ property_list.property_cost }}</td>
      <td>{{ property_list.year }}</td>
         <td>{{ property_list.tax_amount }}</td>
          <td>
<!--              <a href="/update/{{property_list.id}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{property_list.id}}">Edit</a>-->

                         <a href="/delete_property/{{property_list.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')">Delete</a>
          </td>

    </tr>
        {% endfor %}

            </tbody>
        </table>

  </tbody>
</table>


</body>
</html>


