<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Small Bussines </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/second.css') }}">


</head>
<body>

        <div class="hedder_list">
            <a href="/vat_list" class="l">vat list</a>
            <a href="/income_list" class="i">income list </a>
            <a href="/property_property_list" class="p">property business list</a>
            <a href="/property_land_list" class="l">land list</a>
        </div>




        <table class="container">
            <thead>
                <tr>
                         <th scope="col">#</th>
                          <th scope="col">amount</th>
                          <th scope="col">month</th>
                          <th scope="col">tax_amount</th>
                </tr>
            </thead>
            <tbody>

                    {% for sb  in sb_list %}

                 <tr>

                  <th scope="row">{{ sb.id }}</th>
                  <td> {{ sb.amount }} </td>
                  <td>{{ sb.month }}</td>
                  <td>{{ sb.tax_amount }}</td>
                </tr>
                    {% endfor %}
            </tbody>
        </table>

  </tbody>
</table>


</body>
</html>
