
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vat List </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/second.css') }}">


</head>
<body>
        <div class="hedder_list">
                <a href="/sb_list" class="s">small business list</a>
                <a href="/income_list" class="i">income list </a>
                <a href="/property_property_list" class="p">property business list</a>
                <a href="/property_land_list" class="l">land list</a>
        </div>


        <table class="container">
            <thead>
             <tr>
      <th scope="col">#</th>
      <th scope="col">Taxbale Amount</th>
      <th scope="col">Last Tax</th>
      <th scope="col">Month</th>
        <th scope="col">amount</th>

    </tr>
            </thead>
            <tbody>

        {% for vat_list in vat_list %}

     <tr>

      <th scope="row">{{ vat_list.id }}</th>
      <td> {{ vat_list.taxable_amount }} </td>
      <td>{{ vat_list.last_tax }}</td>
      <td>{{ vat_list.month }}</td>
         <td>{{ vat_list.tax_amount }}</td>

    </tr>
        {% endfor %}

            </tbody>
        </table>

  </tbody>
</table>


</body>
</html>


